.button {
  width: 130px;
  height: 45px;
  background: linear-gradient(to top, #003B6E, #58b1ff);
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
}
.button:hover {
    cursor: pointer;
    transform: scale(1.01)
}



.button h1 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Century Gothic', sans-serif;
  font-size: 1px;
}

