.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 5rem;
    gap: 5rem;
    margin-top: -15rem;
}

.container .title{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.container .title h6{
    font-size: 1rem;
    color: blue;
}

.container .title h1{
    font-size: 3rem;
}

.container .title p{
    font-size: 1rem;
    text-align: justify;
}
.technologies h4{
    font-size: 1.2rem;
    margin-top: 3rem;
}

.technologies ul{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin: 0.6rem 0;
}
.technologies li{
    border-radius: 10px;
    background-color: #bbbbbb;
    padding: 0 6px;
    font-size: 0.9rem;
}


.container .img-container {
    width: 50%;
    display: flex;
    justify-content:center;
    align-items:center;
}

.container .img-container .image {
    width: 500px;
    height: 500px;
}

.container .img-container .image img{
    object-fit: cover;
}