@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1&family=Noto+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 1px;
}

.container.active{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 80px;
    padding: 2rem 1.5rem;
    background-color: #ffffff;
    transition: all 0.7s ease-in-out;
    box-shadow: 0 1px 10px -2px gray;
  }
  @media only screen and (max-width: 600px) {
    body {
      width: 100%;
    }
  }
  
  